---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<div class="container d-flex flex-column">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <h1 class="text-md-center mb-2">Archive</h1>

      {% set postslist = collections.posts %}
      {% include "postslist.njk" %}
    </div>
  </div>
</div>
