---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 6
numberOfLatestPostsToShow: 3
---

<!-- foreword -->
<div>
  <h1> Contact Page</h1>
  <p> If you want to get in contact, we'd love to hear from you! Please fill out the form below, and we'll be in touch.</p>
</div>

<div>
  <form action="#"> <!-- form -->
    <fieldset>
      <legend> Get in touch</legend>
      <label for="firstName"> First Name</label>
      <input type="text" id="firstName" name="firstName" required >

      <label for="lastName"> Last Name</label>
      <input type="text" id="lastName" name="lastName" required>

      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" required>

      <label for="userMessage"> Message Body </label>
      <textarea name="userMessage" id="userMessage" required placeholder="Please enter your message here."></textarea>

      <input type="submit">
    </fieldset>
  </form>
</div>