---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 6
numberOfLatestPostsToShow: 3
---



<div class="container">

  <div class="mb-4"> <!-- intro -->
    <div class="row">
      <div class="col-lg-7 text-md-center">
        <h1 class="mb-2"> Contact Page</h1>
        <p> If you want to get in contact, we'd love to hear from you! Please fill out the form below, and we'll be in touch.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <form name="contact" id="contact" method="POST" data-netlify="true"> <!-- form -->
        <fieldset>
          <legend class="text-md-center"> Get in touch</legend>
            <div class="row mb-2"> <!-- row 1: first name and last name -->
    
              <div class="col-md"> <!-- first name -->
                <div class="form-floating  ">
                  <input type="text" class="form-control" id="firstName" placeholder="Jane">
                  <label for="firstName">First Name</label>
                </div>
              </div>
    
              <div class="col-md "> <!-- last name -->
                <div class="form-floating ">        
                  <input type="text" class="form-control" id="lastName" name="lastName" required placeholder="e.g Doe">
                  <label for="lastName"> Last Name</label>
                </div>
              </div>
    
            </div>
    
            <div class="row mb-2"> <!-- row 2: email -->
              <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" required placeholder="email">
                <label for="email" class="ms-2">Email Address</label>
              </div>
            </div>
            
            <div class="row mb-2"> <!-- row 3: user comment -->
              <div class="form-floating">
                <textarea name="userMessage" class="form-control" id="userMessage" required placeholder="Message" style="height: 100px;"></textarea>
                <label for="userMessage" class="ms-2"> Message Body </label>
              </div>
            </div>
    
              <!-- submit button needs to be placed properly -->
            <div class="row mb-2 "> <!-- submit button -->
              <div class="col-md-2">
                <input type="submit">
              </div>
            </div>
    
            </div>
    
        </fieldset>
      </form>
    </div>
  </div>
</div>













