---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 6
numberOfLatestPostsToShow: 3
---

<!-- foreword -->
<div class="mb-2">
  <h1> Contact Page</h1>
  <p> If you want to get in contact, we'd love to hear from you! Please fill out the form below, and we'll be in touch.</p>
</div>

<div>
  <form name="contact" id="contact" method="POST" data-netlify="true"> <!-- form -->
    <fieldset>
      <legend> Get in touch</legend>
        <div class="row mb-2"> <!-- row 1: first name and last name -->

          <div class="col-md"> <!-- first name -->
            <div class="form-floating  ">
              <input type="text" class="form-control" id="firstName" placeholder="Jane">
              <label for="firstName">First Name</label>
            </div>
          </div>

          <div class="col-md "> <!-- last name -->
            <div class="form-floating ">        
              <input type="text" class="form-control" id="lastName" name="lastName" required placeholder="e.g Doe">
              <label for="lastName"> Last Name</label>
            </div>
          </div>

        </div>

        <div class="row mb-2"> <!-- row 2: email -->
          <div class="form-floating ">
            <input type="email" class="form-control" id="email" name="email" required placeholder="email">
            <label for="email">Email Address</label>
          </div>
        </div>
        
        <div class="row mb-2"> <!-- row 3: user comment -->
          <div class="form-floating ">
            <textarea name="userMessage" class="form-control" id="userMessage" required placeholder="Message" style="height: 100px;"></textarea>
            <label for="userMessage"> Message Body </label>
          </div>
        </div>

        <div class="row mb-2 justify-content-end">
          <div class="col-sm-6 mx-auto" >
            <input type="submit">
          </div>

        </div>

    </fieldset>
  </form>
</div>













