---
layout: layouts/home.njk
eleventyNavigation:
  key: News
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="container d-flex flex-column">
  
  <div class="row justify-content-center "> <!-- 1st row -->
    <div class="col-lg-7">
      
    </div>
  </div>

  <div class="row justify-content-center "> <!-- 2nd row -->
    <div class="col-lg-7">
      
    </div>
  </div>

  <div class="row justify-content-center "> <!-- 3rd row -->
    <div class="col-lg-7">
      
    </div>
  </div>

  <div class="row justify-content-center"> <!-- 4th row -->
    <div class="col-lg-7">
      
    </div>
  </div>

</div>