---
layout: layouts/home.njk
eleventyNavigation:
  key: News
  order: 1
numberOfLatestPostsToShow: 3
---

<h1> News </h1>
<p> This is a new page </p>

<p> test <p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 border border-2 border-danger"></div>
    <div class="col-3 border border-2 border-danger"></div>
    <div class="col-3 border border-2 border-danger"></div>
    <div class="col-3 border border-2 border-danger"></div>
  </div>
</div>