---
layout: layouts/home.njk
eleventyNavigation:
  key: News
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="container d-flex flex-column">
  <div class="row justify-content-center col-lg-7"> <!-- 1st row -->

  </div>

  <div class="row justify-content-center col-lg-7"> <!-- 2nd row -->

  </div>

  <div class="row justify-content-center col-lg-7"> <!-- 3rd row -->

  </div>

  <div class="row justify-content-center col-lg-7"> <!-- 4th row -->

  </div>

</div>